<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div th:replace="~{/day58/student2/header.html :: header}"></div>

    <div>
        <h3>학생 명단</h3>
        <table>
            <tr>
                <th>번호</th> <th>학생명</th>
                <th>국어점수</th> <th>수학점수</th> <th>영어점수</th>
            </tr>
            <tr>
                <th>1</th> <th>유재석</th>
                <th>100</th> <th>92</th> <th>96</th>
            </tr>
            <tr>
                <th>2</th> <th>강호동</th>
                <th>87</th> <th>95</th> <th>71</th>
            </tr>
        </table>
    </div>

    <div th:replace="~{/day58/student2/footer.html :: footer}"></div>

</body>
</html>