<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div th:replace="~{/day58/student/header.html :: header}"></div>

  <div>
    <h3>학생 명단(샘플-Fetch 결과를 출력했다는 가정)</h3>
    <table>
      <tr>
        <th>번호</th> <th>학생명</th>
        <th>국어점수</th> <th>수학점수</th> <th>영어점수</th>
      </tr>
      <tr>
        <td>1</td>  <td>유재석</td>
        <td>100</td>  <td>92</td> <td>96</td>
      </tr>
      <tr>
        <td>2</td>  <td>강호동</td>
        <td>87</td>  <td>95</td> <td>71</td>
      </tr>
    </table>
  </div>

  <div th:replace="~{/day58/student/footer.html :: footer}"></div>
</body>
</html>